/*
font-family: 'Raleway', sans-serif;
*/
body {
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    background-color: #021437;
    color: white;
}

@font-face {
    font-family: ITC-bold;
    src: url("../fonts/ITC\ Avant\ Garde\ Gothic\ Std\ Bold.otf");
}
@font-face {
    font-family: ITC-medium;
    src: url("../fonts/ITC\ Avant\ Garde\ Gothic\ Std\ Medium.otf");
}

header nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
    top: 0;
    z-index: 2;
    position: fixed;
}
header ul {
    display: flex;
    list-style-type: none;
    color: white;
    align-items: center;
    width: 100%;
    justify-content: end;
}

header nav img {
    width: 10rem;
}

header li {
    padding: 0.2rem 1rem;
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
}

nav li a:hover {
    color: rgb(0, 255, 123);
}

.video-header {
    z-index: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    height: 100vh;
    width: 100%;
    color: white;
}

#video-bg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.ticket {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 25px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(
        to right,
        rgb(157, 24, 157),
        rgb(149, 0, 255)
    );
    overflow: hidden;
    transition: 0.2s;
    font-weight: 700;
}

.ticket::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    background-image: linear-gradient(
        to right,
        rgb(0, 255, 123),
        rgb(6, 226, 112)
    );
    z-index: 0;
    transform: translateY(-150%);
}

span {
    position: relative;
    z-index: 1;
}

.ticket:hover {
    color: black;
}

.ticket:hover::after {
    transform: translateY(0);
}

.header-content {
    position: absolute;
    background-color: rgba(29, 15, 29, 0.487);
    width: 12rem;
    height: 12rem;
    padding: 1rem;
    bottom: 5rem;
    right: 5rem;
    border-radius: 50%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.3rem);
    text-transform: uppercase;
}

header h3 {
    border-top: dotted rgb(0, 255, 123) 0.1rem;
    border-bottom: dotted rgb(0, 255, 123) 0.1rem;
    font-family: "ITC-bold";
    padding: 1rem;
    text-align: center;
    width: 80%;
    line-height: 1;
}

.scrolled {
    background-color: #021437;
}

main {
    display: block;
}

.first {
    height: 100vh;
    background-color: #021437;
    position: relative;
    z-index: 0;
    text-align: center;
    margin: auto;
}
.content-first {
    position: absolute;
    z-index: 1;
    width: 40%;
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 15rem;
    font-family: "ITC-medium";
}

.wind {
    position: absolute;
    height: 80%;
    bottom: 0;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: windL;
}
.leftBranch {
    left: 0;
}
.rightBranch {
    right: 0;
}

@keyframes windL {
    0% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

h1 {
    font-family: "ITC-bold";
}

.smallLine {
    border: solid rgb(0, 255, 123);
    width: 30%;
    margin: auto;
    margin: 1rem auto;
}

.ticketKoop {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 10rem;
    height: 4rem;
    padding: 20px 20px;
    border-radius: 25px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 255, 123);
    overflow: hidden;
    transition: 0.2s;
    font-weight: 700;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticketKoop:hover {
    width: 10.3rem;
    height: 4.3rem;
    color: black;
}

.spotlight {
    background-image: url(../img/spotlight-01.jpg);
    background-size: cover;
    background-position: center top;
    height: 20rem;
    width: 100%;
    display: block;
}
